<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>WEBSITE</title>
</head>
<body>
    <nav class="d-flex justify-content-between">
        <span class="navbar-toggle">
            <!-- <a  href="javascript:void(0);" class="toggler" onclick="Toggle()"> -->
                <i class="fas fa-bars" onclick="toggle()"></i>
            <!-- </a> -->
        </span>
        <a class="logo" href="#">Shop.Com</a>
        <ul class="main-nav align-self-center m-0 mr-2" id="js-navbar-toggle">
            <li>
                <a class="nav-links px-2" href="#">Home</a>
            </li>
            <li>
                <a class="nav-links px-2" href="#">Features</a>
            </li>
            <li>
                <a class="nav-links px-2" href="#">About</a>
            </li>
            <li>
                <a class="nav-links px-2" href="#">Contact Us</a>
            </li>
            <li>
                <a class="nav-links px-2" href="#">Wait</a>
            </li>
        </ul>
        <div class="SignInAndUp align-self-center m-0 ">
            <a class="mr-2 px-3" href="#">Sign In</a>
            <a class="px-3"href="#">Sign Up</a>
        </div>
    </nav>
    <script src="{% static 'js/toggler.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
</body>
</html>