nav {
    background-color: black;
}

.form-inline button {
    background-color: #268CD0;
}

.bg-image {
    background-repeat: no-repeat;
    height: 700px;
    background-position: center ;
    background-size: cover;
}

.about h1 {
    border-bottom: solid;
    
}